# Data-filer
Data/scrape_log.txt

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Streamlit
.streamlit/secrets.toml

# Miljøvariabler / API-nøkler
.env
*.env

# macOS
.DS_Store

# Loggfiler
Data/scrape_log.txt
